<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <style>
        h3
        {
        color: crimson;
        background-color: chocolate;
        height: 30px;
        width: 50px;
        }
    </style>
</head>
<body>
    <center>

        <h1 style="background-color: blue; color:aqua;" >for loops</h1>


        <!-- jinja operational forloop with CDT  -->
        
        {% for i in name %}
            <h3>{{i}}</h3>
            <h4>{{name}}</h4>
        {% endfor %}
    </center>
</body>
</html>